*
	box-sizing: border-box

body
	margin: 0
	padding: 0
	font-family: 'Mulish', sans-serif

.header
	padding: 20px 70px 30px 30px
	background: white
	display: flex
	align-items: center

.search
	position: relative
	.search-input
		border: none
		outline: none
		width: 830px
		height: 44px
		background: #EBEBEB	 
		border-radius: 22px	
		padding: 0 35px 0 23px
	.search-icon
		position: absolute
		right: 13px
		top: 13px

.logo 
	margin-left: 28px
	margin-right: 60px
	display: flex
	.logo-button
		margin-right: 4px
	.logo-text
		width: 100px
		height: 23px	
.top-navigation
	display: flex
	justify-content: space-between
	width: 175px
	margin-right: 45px
	margin-left: 505px
	.top-navigation__item
		cursor: pointer	

.subscriptions-item
	display: flex
	align-items: center	
	margin-bottom: 23px
	.subscriptions-item__image
	 	margin-right: 10px	
	.subscriptions-item__text
		color: #898989
		margin: 0
		line-height: 20px
		font-size: 16px

.categories-item
	display: flex
	align-items: center	
	margin-bottom: 23px
	.categories-item__image
	 	margin-right: 10px	
	.categories-item__text
		color: #898989
		margin: 0
		line-height: 20px
		font-size: 16px		